html {
  scroll-behavior: auto;
}

html,
body {
 margin-top: 35px;
  padding: 0;
  width: 100%;
  min-height: 100%;
}
.App {
  width: 100%;
  min-height: 100vh !important;
background-image: url("./assets/Visflix-Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: poppins !important;
}
body {
  overflow-x: hidden;
}
.container{
  min-width: 90% !important;
  max-width: 95% !important;
  /* background-color: aquamarine; */
}
.section-heading{
  font-weight: 600 !important;
    font-family: poppins !important;

}
.section-subHeading{
  text-transform: uppercase;
}